@import url('https://fonts.googleapis.com/css?family=Spectral+SC:300,700');

#body{
	background-color: #232323;
	margin: 0;
	font-family: 'Spectral SC', serif;
}

.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.7s;
	--webkit-transition:background 0.7s;
	-moz-transition:background 0.7s;
}

#container{
	max-width: 600px;
	margin: 30px auto;
}

.button{
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;
	background-color: none;
	letter-spacing: 1px;
	border:none;
	height: 100%;
	font-size: inherit;
	transition: all 0.4s;
	--webkit-transition:all 0.4s;
	-moz-transition:all 0.4s;
	
	}

.button:hover{
	color: white;
	background-color: steelblue;
	
}

.button:focus{
	outline: none;
}

#message{
	display: inline-block;
	width: 20%;
}

#heading{
	text-align: center;
	line-height: 1.1;
	color: white;
	background-color: steelblue;
	margin: 0;
	font-weight: 300;
	text-transform: uppercase;
	padding: 20px 0;
}



#stripe{
	background-color: white;
	height: 30px;
	text-align: center;	
	color: steelblue;
}

.selected{
	background-color: steelblue;
	color: white;
}

#colorDisplay{
	font-size:200%;
}